<% include header%>
<% include navbar%>

<h2><%= title%></h2>

<form method='POST' action='/categories/save'>
<!-- hidden input fields-->
<input  type='hidden' name='docreate' value='<%= docreate ? "create" : "update"%>'>
<input type='hidden' name='categoryid' value='<%= category ? categoryid : "" %>'/>

<div class="container-fluid icon-container" >
  <div class="row">
    <div class="col-sm-6" >
        Category Name:
    </div>
    <div class="col-sm-6" >
        <input class="form-control" minlength="2" type="text"  name='categoryname' value='<%= category ? category.categoryname : "" %>' required/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" >
        Reusable:
    </div>
    <div class="col-sm-6" >
        <input class="form-check-input" type='checkbox' name='reusable' <%= (category && category.reusable==1) ? "checked" : "" %> />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 noBgColor" >
      <input type='submit' value='Save' class="btn btn-success"/>
    </div>
    <div class="col-sm-6 noBgColor" >
      <a href="/categories" class="btn btn-warning" >Cancel</a>
    </div>
  </div>
</div>
</form>

<% include bodyEndAndScripts%>
