<% include header%>
<% include navbar%>
<h2><%= title%></h2>
<form method='POST' action='/items/save'>
<!-- hidden input fields-->
<input  type='hidden' name='docreate' value='<%= docreate ? "create" : "update"%>'>
<input type='hidden' name='itemid' value='<%= item ? itemid : "" %>'/>

<div class="container gridContainer" >
	<div class="row">
  	<div class="col-sm-6" >
	      <div class="form-group">
	        <label for="shortname">Shortname</label>
					<input required minlength="2" class="form-control" type='text' id="shortname" name='shortname' value='<%= item ? item.shortname : "" %>' />
				</div>
		</div>
		<div class="col-sm-6" >
			<div class="form-group">
				<label for="Category">Category</label>
				<select required name="categoryid" class="form-control custom-select">
					<option selected value="">Choose a category...</option>
				<%
				for ( var i = 0; i < categorylist.length; i++ )
				{
						var categoryid = item ? item.categoryid : "";
						var selected = (categoryid == categorylist[i].categoryid) ? "selected" : "";
				    %>
						<option value="<%=categorylist[ i ].categoryid %>" <%=selected %>><%=categorylist[ i ].categoryname %></option>
						<%
				}
				%>
				</select>
			</div>
		</div>
	</div>
  <div class="row">
  	<div class="col-sm-6" >
	      <div class="form-group">
	        <label for="maker">Producer</label>
	        <input  class="form-control" type="text" name='maker' id="maker" value='<%= item ? item.maker : "" %>' />
	      </div>
		</div>
		<div class="col-sm-6" >
				<div class="form-group">
					<label for="makerref">Producer Reference</label>
					<input class="form-control" type="text" name='makerref' id="makerref" value='<%= item ? item.makerref : "" %>' />
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="provider">Provider</label>
				<input class="form-control" type='text' name='provider' id='provider' value='<%= item ? item.provider : "" %>' />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="providerurl">Provider URL</label>
				<input class="form-control" type='url' name='providerurl' id='providerurl' value='<%= item ? item.providerurl : "" %>' />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="lastpurchasedate">Last Purchase Date</label>
				<input dateISO class="form-control" type='date' name='lastpurchasedate' id='lastpurchasedate' value='<%= item ? item.lastpurchasedate : "" %>' />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="price">Price</label>
				<input class="form-control" type='text' name='price' id='price'  value='<%= item ? item.price : "" %>' />
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label for="vat">VAT in %</label>
				<input class="form-control" type='text' name='vat' id='vat' value='<%= item ? item.vat : "" %>' />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="unit">Unit</label>
				<select name="unit" id="unit" class="form-control custom-select">
				<%
				for ( var i = 0; i < unitlist.length; i++ )
				{
						var unit = item ? item.unit : "";
						var selected = (unit == unitlist[i]) ? "selected" : "";
				    %>
						<option value="<%=unitlist[i] %>" <%=selected %>><%=unitlist[i]%></option>
						<%
				}
				%>
				</select>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label for="quantityinstock">Quantity in Stock</label>
				<input class="form-control" type='text' name='quantityinstock' id='quantityinstock'  value='<%= item ? item.quantityinstock : "" %>' />
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label for="quantityordered">Quantity ordered on last purchase</label>
				<input class="form-control" type='text' name='quantityordered' id='quantityordered' value='<%= item ? item.quantityordered : "" %>' />
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="width">Width</label>
				<input class="form-control" type='text' name='width' id='width'  value='<%= item ? item.width : "" %>' />
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label for="height">Height</label>
				<input class="form-control" type='text' name='height' id='height' value='<%= item ? item.height : "" %>' />
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="diameter">Diameter</label>
				<input class="form-control" type='text' name='diameter' id='diameter' value='<%= item ? item.diameter : "" %>' />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="stocklimitalert">Stock Limit Alert</label>
				<input class="form-control" type='text' name='stocklimitalert' id='stocklimitalert'  value='<%= item ? item.stocklimitalert : "" %>' />
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="note">Note</label>
				<textarea class="form-control" type='text' rows="5" name='note' id='note'><%= item ? item.note : "" %></textarea>
			</div>
		</div>
	</div>

</div>

<br/>Picture<br/>
<input type='text' name='picture' value='<%= item ? item.picture : "" %>' />


<br/>
<div class="container gridContainer textCenter" >
  <div class="row">
    <div class="col-sm-6 noBgColor" >
      <a href="/items" class="btn btn-warning" >Cancel</a>
    </div>
    <div class="col-sm-6 noBgColor" >
      <input type='submit' value='Save' class="btn btn-success"/>
    </div>
  </div>
</div>


</form>

<% include bodyEndAndScripts%>
