<% include header%>
<% include navbar%>

<h2><%= title%></h2>
<div class="container icon-container gridContainer textCenter" >
  <div class="row">
    <div class="col-sm-12 bigTitle blue onclickStyle" onclick="location.href='/items/add'">
      Add&nbsp;&nbsp;&nbsp;
      <span class="fa-stack fa-lg fa-2x fa-2x fa-2x">
        <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
        <i class="fa fa-plus fa-stack-1x" style="color:#BFDCF5"></i>
      </span>
    </div>
  </div>
</div>
<% if (itemlist.length > 0) { %>
  <div class="container icon-container gridContainer textCenter" ><%
  for (var item of itemlist) {
    %><div class="row">
        <div class="col-sm-6 mediumTitle gray onclickStyle" onclick="location.href='/items/edit?itemid=<%= item.itemid %>'">
          <%= item.shortname %>
        </div>
        <!--edit -->
        <div class="col-sm-3 onclickStyle" onclick="location.href='/items/edit?itemid=<%= item.itemid %>'">
          <span class="fa-stack fa-lg fa-2x fa-2x fa-2x">
					  <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
					  <i class="fa fa-pencil-square fa-stack-1x" style="color:#BFDCF5"></i>
					</span>
        </div>
        <!-- delete -->
        <div class="col-sm-3 onclickStyle" onclick="location.href='/items/delete?itemid=<%= item.itemid %>'">
          <span class="fa-stack fa-lg fa-2x fa-2x fa-2x">
					  <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
					  <i class="fa fa-trash-o fa-stack-1x" style="color:#BFDCF5"></i>
					</span>
        </div>
  </div><%
  }
  %></div>
<% } %>
<% include bodyEndAndScripts%>
