<% include header%>
<% include navbar%>
<h2><%= title%></h2>
<form method='POST' action='/items/save'>
<!-- hidden input fields-->
<input  type='hidden' name='docreate' value='<%= docreate ? "create" : "update"%>'>
<input type='hidden' name='itemid' value='<%= item ? itemid : "" %>'/>

<div class="container gridContainer" >
	<div class="row">
  	<div class="col-sm-6" >
	      <div class="form-group">
	        <label for="shortnameItem">Shortname</label>
					<input class="form-control" type='text' name='shortnameItem' value='<%= item ? item.shortname : "" %>' />
				</div>
		</div>
		<div class="col-sm-6" >
			<div class="form-group">
				<label for="Category">Category</label>
				<select required name="categoryid" class="custom-select">
					<option selected value="">Choose a category...</option>
				<%
				for ( var i = 0; i < categorylist.length; i++ )
				{
						var categoryid = item ? item.categoryid : "";
						var selected = (categoryid == categorylist[i].categoryid) ? "selected" : "";
				    %>
						<option value="<%=categorylist[ i ].categoryid %>" <%=selected %>><%=categorylist[ i ].categoryname %></option>
						<%
				}
				%>
				</select>
			</div>
		</div>
	</div>	


  <div class="row">
  	<div class="col-sm-6" >
	      <div class="form-group">
	        <label for="maker">Producer</label>
	        <input required minlength="2" class="form-control" type="text" name='maker' id="maker" value='<%= item ? item.maker : "" %>' />
	      </div>
		</div>
		<div class="col-sm-6" >
				<div class="form-group">
					<label for="makerref">Porducer Reference</label>
					<input required minlength="2" class="form-control" type="text" name='makerref' id="makerref" value='<%= item ? item.makerref : "" %>' />
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="provider">Provider</label>
				<input minlenght="2" class="form-control" type='text' name='provider' id='provider' value='<%= item ? item.provider : "" %>' />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="providerurl">Provider URL</label>
				<input class="form-control" type='text' name='providerurl' id='providerurl' value='<%= item ? item.providerurl : "" %>' />
			</div>
		</div>
	</div>


</div>


<br/>Last Purchase Date<br/>
<input type='text' name='lastpurchasedate' value='<%= item ? item.lastpurchasedate : "" %>' />
<br/>Price<br/>
<input type='text' name='price' value='<%= item ? item.price : "" %>' />
<br/>VAT<br/>
<input type='text' name='vat' value='<%= item ? item.vat : "" %>' />
<br/>Unit<br/>
<input type='text' name='unit' value='<%= item ? item.unit : "" %>' />
<br/>Width<br/>
<input type='text' name='width' value='<%= item ? item.width : "" %>' />
<br/>Height<br/>
<input type='text' name='height' value='<%= item ? item.height : "" %>' />
<br/>Diameter<br/>
<input type='text' name='diameter' value='<%= item ? item.diameter : "" %>' />
<br/>Picture<br/>
<input type='text' name='picture' value='<%= item ? item.picture : "" %>' />
<br/>Note<br/>
<input type='text' name='note' value='<%= item ? item.note : "" %>' />
<br/>Quantity in Stock<br/>
<input type='text' name='quantityinstock' value='<%= item ? item.quantityinstock : "" %>' />
<br/>Quantity ordered<br/>
<input type='text' name='quantityordered' value='<%= item ? item.quantityordered : "" %>' />
<br/>Stock Limit Alert<br/>
<input type='text' name='stocklimitalert' value='<%= item ? item.stocklimitalert : "" %>' />

<br/>
<input type='submit' value='Submit' />
</form>

<% include bodyEndAndScripts%>
